<div class='feedback-item'>
  <div class="main">
    <div class='author' [routerLink]="['/speakers/',feedbackListItem.authorId]">
      <div class='avatar'>
        <img *ngIf="feedbackListItem.authorPhoto" src={{blog_list_item.authorPhoto}}>
        <img *ngIf="!feedbackListItem.authorPhoto" src="assets/img/download.png">
      </div>
      <div class='info'>
        <div class='name'>
          {{this.feedbackListItem.author}}
        </div>
      </div>
    </div>

    <div class='content'>{{feedbackListItem.content}}</div>

    <div class='rating'>
      <app-rating size='20' rating='{{feedbackListItem.rating}}'></app-rating>
    </div>
  </div>
</div>
