<div id='left_menu'>
	<div id='avatar'>

		<img src="assets/img/download.png">
		<span>{{userService.currentUser.firstName + " " + userService.currentUser.lastName}}</span>

	</div>
	<div id='menu'>

		<app-left-menu-item *ngFor="let item of this.menu_items" sel="{{selectedItem}}" [item]="item"
                        (clck)="childClicked($event)"></app-left-menu-item>
	</div>
	<div id='bottom_menu'>
		<app-left-menu-item *ngFor="let item of this.bottom_menu_items" sel="{{false}}" [item]="item"
                        (clck)="bottomMenuClicked($event)"></app-left-menu-item>
   <!-- <app-logout-menu-item sel="{{false}}" (clck)="childClicked($event)"></app-logout-menu-item> -->
	</div>
</div>
