<app-left-menu></app-left-menu>
<div class='content'>
  <div class='back' routerLink="/meetups" >

  </div>

  <div class='main'>

    <div class='info'>
      <div class='title'>{{this.meetup.meetupTitle}}</div>
      <div class='detail'>
        <img *ngIf="authorPhoto" src={{this.authorPhoto}}>
        <img *ngIf="!authorPhoto" src="assets/img/download.png">
        <div [routerLink]="['/speakers/', this.meetup.speakerId]">by
          <span class="authorName">{{this.author}}</span></div>
        <app-rating size='16' rating="{{this.rate}}"></app-rating>
      </div>
    </div>


    <div class='about'>
      About
    </div>
    <div class='description'>
      {{this.meetup.meetupDescription}}
    </div>

    <div class='about' *ngIf="attendees.length != 0">
      Attendees
    </div>

    <div class='atendees'>
      <app-atendee *ngFor="let attendee of attendees" [name]='attendee.name'
                   [photo]='attendee.photo' [surname]=attendee.surname
                   [rating]='attendee.rating'>
      </app-atendee>
    </div>
  </div>

  <div class='additional'>
    <app-button *ngIf="(state == 'Booked' || state == 'Scheduled') && !hasAccess" [text]='joinText()' [type]='joinType()' fontSize='24' (onClick)="joinButtonClicked($event)"></app-button>
    <app-button *ngIf="hasAccess && canCancell()" [text]='"Cancel"' [type]='2' fontSize='24' (onClick)="cancellMeetup($event)"></app-button>
    <app-button *ngIf="hasAccess && canTerminate()" [text]='"Terminate"' [type]='2' fontSize='24' (onClick)="terminateMeetup($event)"></app-button>
    <app-button *ngIf="hasAccess && canReschedule()" [text]='"Reschedule"' [type]='1' fontSize='24' (onClick)="reschedule($event)"></app-button>


    <div class="error" *ngIf="error">{{error}}</div>
    <div class="status">{{state}}</div>
    <div class='time'>
      <div class='icon'>
      </div>
      <div class='date_time'>
        <div>{{this.meetup.meetupStartDateTime | date:'MMM d, y h:mm a'}}</div>
      </div>
    </div>
    <div class='location'>
      <div class='icon'></div>
      <div class='text'>{{this.meetup.meetupPlace}}</div>
    </div>
    <div class='members'>
      <div class='icon'></div>
      <div>{{this.attendees.length || 0}}/{{this.meetup.meetupMaxAttendees}}</div>
    </div>
  </div>
</div>
