<div class='item'>
	<div class='main'>
		<div class='profile'>
			<div class='avatar'>
				<img src="assets/img/download.png">
			</div>
			<div class='info'>
				<div class='name' routerLink="{{'meetups/' + this.id}}">
					{{this.title}}
				</div>
				<div class='place'>
					<div>by {{this.author}} <app-rating size='12' rating="{{this.rate}}"></app-rating>
					</div>
				</div>
			</div>
		</div>
		<div class='description'>
			{{this.description}}
		</div>

	</div>
	<div class='additional'>
		<div class='time'>
			<div class='icon'>
			</div>
			<div class='date_time'>
				<div>{{this.date | date:'MMM d, y h:mm a' }}</div>
			</div>
		</div>
		<div class='location'>
			<div class='icon'></div>
			<div>{{this.place}}</div>
		</div>

		<div class='members'>
			<div class='icon'></div>
			<div>{{this.registeredAttendees}}/{{this.maxAttendees}}</div>
		</div>

		<app-button [text]="joinText()"
                [type]='joinType()'
                (onClick)="joinButtonClicked($event)"
                fontSize='20'></app-button>

	</div>
</div>
