<meta name="viewport" content="width=device-width, initial-scale=1.0" xmlns="http://www.w3.org/1999/html">
<div class='item'>
	<div class='main'>
		<div class='profile'>
			<div class='avatar'>
				<img *ngIf="authorPhoto" src={{this.authorPhoto}}>
        <img *ngIf="!authorPhoto" src="assets/img/download.png">
			</div>
			<div class='info'>
				<div class='name' routerLink="{{this.uid}}">
          {{this.title | slice:0:20}}<span *ngIf="this.title.length > 20">...</span>
				</div>
				<div class='place'>
					<div>by {{this.author}} </div>
          <app-rating size='12' rating="{{this.rate}}"></app-rating>
				</div>
			</div>
		</div>
		<div class='description'>
        <span *ngIf="this.title.length > 20 && this.description.length > 24">
        {{this.description | slice:0:24}}...</span>
        <span *ngIf="this.title.length < 20 && this.description.length > 110 ">{{this.description | slice:0:110}}...</span>
		</div>

	</div>
	<div class='additional'>
		<div class='time'>
			<div class='icon'>
			</div>
			<div class='date_time'>
				<div>{{this.date | date:'MMM d, y h:mm a' }}</div>
			</div>
		</div>
		<div class='location'>
			<div class='icon'></div>
			<div>{{this.place}}</div>
		</div>

		<div class='members'>
			<div class='icon'></div>
			<div>{{this.registeredAttendees}}/{{this.maxAttendees}}</div>
		</div>

		<app-button *ngIf="isAttendeLoaded"
                [text]="joinText()"
                [type]='joinType()'
                (onClick)="joinButtonClicked($event)"
                fontSize='20'></app-button>

	</div>
</div>
