<div class='item'>
	<div class='main'>
		<div class='profile'>
			<div class='avatar'>
				<img src="assets/img/download.png">
				<app-rating size='16' rating="{{this.rate}}"></app-rating>
			</div>
			<div class='info'>
				<div class='name'>
					<a [routerLink]="link()">{{this.name + " " + this.surname}}</a>
				</div>
				<div class='location'>
					<div class='icon'></div>
					<div>{{this.location}}</div>
				</div>
			</div>
		</div>
		<div class='description'>
			{{this.description}}
		</div>
	</div>
	<div class='additional'>
		<div class='languages'>
			<div class='icon'>
			</div>
			<div>
				<div *ngFor="let language of this.languages">{{language}}</div>
			</div>
		</div>
		<div class='awards'>
			<div class='icon'></div>
			<div> {{this.awards}}</div>
		</div>
		<app-button [text]="followText()" [type]='followType()' fontSize='20'></app-button>
	</div>
</div>