<div class='item'>
	<div class='main'>
		<div class='profile'>
			<div class='avatar' [routerLink]="link()">
				<img src="assets/img/download.png">
				<app-rating size='16' rating="{{this.speaker_list_item.rate}}"></app-rating>
			</div>
			<div class='info'>
				<div class='name' [routerLink]="link()">
					<a>{{this.speaker_list_item.name + " " + this.speaker_list_item.surname}}</a>
          <span *ngIf="isCurrentUser()">(you)</span>
				</div>
				<div class='location'>
					<div class='icon'></div>
					<div>{{this.speaker_list_item.location}}</div>
				</div>
			</div>
		</div>
		<div class='description'>
			{{this.speaker_list_item.description}}
		</div>
	</div>
	<div class='additional'>
		<div class='languages'>
			<div class='icon'>
			</div>
			<div>
				<div *ngFor="let language of this.speaker_list_item.languages">{{language}}</div>
			</div>
		</div>
		<div class='awards'>
			<div class='icon'></div>
			<div> {{this.speaker_list_item.awards}}</div>
		</div>
		<app-button *ngIf="!isCurrentUser()" [text]="followText()" [type]='followType()' (onClick)="followButtonClicked($event)"  fontSize='20'></app-button>
	</div>
</div>
