<div class='item'>
  <div class = 'main'>
    <div class='author' [routerLink]="['/speakers/',blog_list_item.authorId]">
      <div class='avatar'>
        <img *ngIf="blog_list_item.authorPhoto" src={{blog_list_item.authorPhoto}}>
        <img *ngIf="!blog_list_item.authorPhoto" src="assets/img/download.png">
      </div>
        <div class='info'>
          <div class='name'>
            {{this.blog_list_item.author}}
          </div>
        </div>
    </div>

    <div class='post'>
      <div class='post-title'>
        <span *ngIf="this.blog_list_item.title.length > 50">{{this.blog_list_item.title | slice:0:50}}...</span>
        <span *ngIf="this.blog_list_item.title.length < 50">{{this.blog_list_item.title}}</span>
      </div>
      <div class='post-content'>
        <span *ngIf="this.blog_list_item.content.length > 300">{{this.blog_list_item.content | slice:0:300}}...</span>
        <span *ngIf="this.blog_list_item.content.length < 300">{{this.blog_list_item.content}}</span>
      </div>
      <div class="post-time">
        <p>{{this.blog_list_item.date.toString().replace("T"," ")}}</p>
      </div>
    </div>

    <app-button [text]="'>'" fontSize='50' routerLink="/blog/{{this.blog_list_item.id}}" type='4'></app-button>
    <app-button [text]="'X'" fontSize='50' *ngIf="isAdmin()" (onClick)="deletePost()" type='2'></app-button>
  </div>
</div>
