.item {
  margin-top: 20px;
  padding: 20px 10px 20px 20px;

  display: flex;

  max-height: 200px;
  box-shadow: 10px 6px 25px rgba(112, 124, 151, 0.1),
  4px 4px 25px rgba(112, 124, 151, 0.1), 6px 6px 25px rgba(112, 124, 151, 0.1);
}

.item .main {
  display: flex;
  flex-direction: row;
}

.author {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.author .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.author .name {
  font-size: 14px;
  font-weight: bold;
}

.author .avatar {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar img {
  max-width: 50px;
  max-width: 50px;
  border-radius: 50%;
}

.post{
  text-align: left;
  margin: 10px 10px 10px 20px;
  overflow: auto;
}

.post-title{
  margin: 5px 0px;
  font-weight: bold;
  font-size: 16px;
  display: block;
  float: none;
  overflow: auto;
}

.post-content{
  font-size: 14px;
  text-overflow: fade;
  float: none;
  overflow: auto;
}
