<div class='item'>
  <div class = 'main'>
    <div class='author'>
      <div class='avatar'>
        <img *ngIf="authorPhoto" src={{this.authorPhoto}}>
        <img *ngIf="!authorPhoto" src="assets/img/download.png">
      </div>
        <div class='info'>
          <div class='name'>
            {{this.author}}
          </div>
        </div>
    </div>

    <div class='post'>
      <div class='post-title'>
        <span *ngIf="this.title.length > 50">{{this.title | slice:0:50}}...</span>
        <span *ngIf="this.title.length < 50">{{this.title}}</span>
      </div>
      <div class='post-content'>
        <span *ngIf="this.content.length > 300">{{this.content | slice:0:300}}...</span>
        <span *ngIf="this.content.length < 300">{{this.content}}</span>
      </div>
    </div>

    <app-button [text]="'>'" fontSize='50' routerLink="{{this.uid}}" type='4'></app-button>
  </div>
</div>
