<app-left-menu></app-left-menu>
<div class='content'>
  <p class='title'>Topics</p>

  <div>
    <label>Topic name:
      <input #topicName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(topicName.value); topicName.value=''">
      add
    </button>
  </div>

  <app-topic-search></app-topic-search>

  <div>
    <ul class='topics'>
      <li *ngFor="let topic of topics">
        <a routerLink="/topics/{{topic.topicId}}">
          {{topic.name}}
        </a>
        <button class="delete" title="delete topic"
                (click)="delete(topic)">x</button>
      </li>
    </ul>
  </div>
</div>
