<app-left-menu></app-left-menu>
<div class='content'>
  <p class='title'>Topics</p>

  <div class="add">
    <input #topicName placeholder="name"/>
    <app-button type='1' text="Add" fontSize="15"
                (click)="add(topicName.value); topicName.value=''"></app-button>
  </div>

  <app-topic-search></app-topic-search>

  <div class="item" *ngFor="let topic of topics">
    <div class="main">
      <div class="profile">
        <div routerLink="/topics/{{topic.topicId}}">
          {{topic.name}}
        </div>
        <app-button type='2' text="Delete" class="delete" fontSize="15"
                        (click)="delete(topic)"></app-button>
      </div>
    </div>
  </div>
</div>
