<app-left-menu></app-left-menu>
<div class='content'>
  <p class='title'>Report Reasons</p>

  <div class="add">
    <input #banReasonName placeholder="name"/>
    <app-button type='1' text="Add" fontSize="15"
                (click)="add(banReasonName.value); banReasonName.value=''"></app-button>
  </div>

  <app-ban-reason-search></app-ban-reason-search>

  <div class="item"*ngFor="let banReason of banReasons">
    <div class="main">
      <div class="profile">
        <div routerLink="/ban_reasons/{{banReason.banReasonId}}">
          {{banReason.name}}
        </div>
        <app-button type='2' text="Delete" class="delete" fontSize="15"
                    (click)="delete(banReason)"></app-button>
      </div>
    </div>
  </div>
</div>
