<div class='filter'>

  <div class='row1'>

    <div class='topics'>
      <div class='ti'>
        Topics
      </div>
      <div class='topics_list'>
        <app-toggle-button *ngFor="let topic of this.topics" name="topics" id='{{topic.topicId}}' text='{{topic.name}}'
                           (toggled)="topicToggled($event)"></app-toggle-button>
      </div>

    </div>

    <div class='date_time'>
      <div class='ti'>
        Date
      </div>
      <div class='date'>

        <div class='form_line'><span></span><input type="date" name="dateFrom" placeholder="Start date" data-date-format="YYYY-MM-DD"
                                                              #start_date="ngModel" [(ngModel)]="this.filter_start_date"/></div>
<!--        <input matInput [matDatepicker]="picker" placeholder="Start date" name="start_date" [(ngModel)]="this.filter_start_date">-->
<!--        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--        <mat-datepicker #picker></mat-datepicker>-->

        <div class='sep'> - </div>
        <div class='form_line'><span></span><input type="date" name="dateTo" placeholder="Finish date" data-date-format="YYYY-MM-DD"
                                                              #end_date="ngModel" [(ngModel)]="this.filter_end_date"/></div>
<!--        <input matInput [matDatepicker]="picker1" placeholder="Finish date" name = "end_date" [(ngModel)]="this.filter_end_date">-->
<!--        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>-->
<!--        <mat-datepicker #picker1></mat-datepicker>-->
      </div>
      <div class='ti'>
        Time
      </div>
      <div class='time'>
        <div class='form_line'><span></span><input type="time" name="start_time" placeholder="Start time"
                                                              #start_time="ngModel" [(ngModel)]="this.filter_start_time"/></div>
<!--        <ngb-timepicker ngModel="time" name="dateFrom" [(ngModel)]="this.filter_start_time"></ngb-timepicker>-->
        <div class='sep'> - </div>
        <div class='form_line'><span></span><input type="time" name="start_time" placeholder="Finish time"
                                                              #start_time="ngModel" [(ngModel)]="this.filter_end_time"/></div>
<!--        <ngb-timepicker ngModel="time" name = "dateTo" [(ngModel)]="this.filter_end_time"></ngb-timepicker>-->
      </div>

    </div>


    <div class='saved'>
      <!--
            <app-toggle-button id='3' text='lol3' (toggled)="toggled($event)"></app-toggle-button>
            <app-toggle-button id='2' text='lol2' (toggled)="toggled($event)"></app-toggle-button>
            <app-toggle-button id='3' text='lol3' (toggled)="toggled($event)"></app-toggle-button>-->
      <app-button text='Save current filter' fontSize='24' (onClick)="submit()"></app-button>
    </div>

    <div class ='filters'>
      <div class='ti'>
        Saved filters
      </div>
      <div class='filters_list'>
        <app-toggle-button *ngFor="let filter of this.filters" name="filters" id='{{filter.id}}' text='{{filter.name}}'
                           (toggled)="filterToggled($event)"></app-toggle-button>
      </div>
    </div>
  </div>

  <div class='row2'>


    <div class='rating'>
      <div class='ti'>
        Speaker Rating
      </div>
      <div class='rate'>
        <!--				<app-toggle-button id='1' icon='star' text='any' (toggled)="toggled($event)"></app-toggle-button>-->
        <div class='form_line'><input type="ratingFrom" name="ratingFrom" placeholder="from" min="0" max="5" [(ngModel)]="this.filter_ratingFrom"/></div>
        <div class='sep'> - </div>
        <div class='form_line'><input type="ratingTo" name="ratingTo" placeholder="to" min="0" max="5" [(ngModel)]="this.filter_ratingTo"/></div>
        <!--				<app-toggle-button id='2' icon='star' text='any' (toggled)="toggled($event)"></app-toggle-button>-->
      </div>
    </div>
    <div class = 'filterName'>
      <div class='ti'>
        Filter name
      </div>
      <div class='form_line filter_name'><input type="filter_name" name="filter_name" placeholder="name" [(ngModel)]="this.filter_name" required/></div>
    </div>
    <div class='saved search filters_list'>
      <!--
            <app-toggle-button id='3' text='lol3' (toggled)="toggled($event)"></app-toggle-button>
            <app-toggle-button id='2' text='lol2' (toggled)="toggled($event)"></app-toggle-button>
            <app-toggle-button id='3' text='lol3' (toggled)="toggled($event)"></app-toggle-button>-->
      <app-button text='search by filter' fontSize='24' (onClick)="search()"></app-button>
    </div>
  </div>




</div>
