.topics {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 400px;
	width: 30%;
	max-height: 180px;
	justify-content: flex-start;
	margin-left: 15px;
	
  
  }
  
  
  
  .ti {
	font-size: 24px;
	font-weight: bold;
  }
  
  .topics_list {
	overflow-y: auto;
  }
  
  .topics_list * {
	margin: 2px;
  }
  
  .filter,
  .date_time,
  .saved,
  .rating,
  .filterName,
  .weekday {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
  
	align-content: flex-start;
	margin: 10px;
  }
  
  .row1,
  .row2 {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
  }
  
  .date_time .ti,
  .rating .filterName .ti {
	margin-left: 12px;
  }
  .filter_name {
    margin-top: 13px;
  }

input::placeholder {
  color: #c7c7c7;
}

  .date,
  .time,
  .rate {
	margin-left: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
  }
  
  .sep {
	margin: 10px;
	font-size: 24px;
	font-weight: bold;
  }
  
  .week {
	max-width: 400px;
  }



.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
  width: 30%;
  max-height: 180px;
  justify-content: flex-start;
  margin-left: 15px;


}


.ti {
  font-size: 24px;
  font-weight: bold;
}

.filters_list {
  overflow-y: auto;
}

.filters_list * {
  margin: 2px;
}

.button {
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
  font-weight: bold;
  color: white;

  border-radius: 6px;
  align-items: center;
}

.btn1 {
  background: linear-gradient(96.1deg, #7cb8f7 0%, #2a8bf2 100%);
  box-shadow: 10px 6px 25px rgba(42, 139, 242, 0.15),
  4px 4px 25px rgba(42, 139, 242, 0.05), 6px 6px 25px rgba(42, 139, 242, 0.15);
}

//.search{
//  margin-top: 23px;
//  margin-left: 130px;
//}
