.topics {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 400px;
	width: 30%;
	max-height: 180px;
	justify-content: flex-start;
	margin-left: 15px;
	
  
  }
  
  
  
  .ti {
	font-size: 24px;
	font-weight: bold;
  }
  
  .topics_list {
	overflow-y: auto;
  }
  
  .topics_list * {
	margin: 2px;
  }
  
  .filter,
  .date_time,
  .saved,
  .rating,
  .weekday {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
  
	align-content: flex-start;
	margin: 10px;
  }
  
  .row1,
  .row2 {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
  }
  
  .date_time .ti,
  .rating .ti {
	margin-left: 12px;
  }
  
  .date,
  .time,
  .rate {
	margin-left: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
  }
  
  .sep {
	margin: 10px;
	font-size: 24px;
	font-weight: bold;
  }
  
  .week {
	max-width: 400px;
  }
  