
.dialog form{
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;

  border-radius: 5px;
  width: 550px;

  -webkit-box-shadow: 1px 1px 5px 0px rgba(200, 200, 200, 0.6);
  -moz-box-shadow: 1px 1px 5px 0px rgba(200, 200, 200, 0.6);
  box-shadow: 1px 1px 5px 0px rgba(200, 200, 200, 0.6);
  margin: 0px auto;
  margin-top: 200px;
}

.dialog form input {
  width: 450px;
}
.dialog form input, .dialog form button, .dialog form a {
  margin: 7px 10px;
}

.dialog form .title {
  font-size: 45px;
  margin: 20px;
  color: #707c97;
}

.dialog form input {
  text-align: center;
  font-size: 15px;
  border: 2px solid #c4c4c4;
  box-sizing: border-box;

  border-radius: 6px;
  padding: 15px;
}

.dialog form input::placeholder {
  color: #c7c7c7;
}

.dialog form .link {
  cursor: pointer;
  font-size: 12px;
  color: #2a8bf2;
}

a:link {
  text-decoration: none;
}

.dialog form .checkbox_row * {
  display: inline;
  color: #707c97;
}

.button {
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
  font-weight: bold;
  color: white;

  border-radius: 6px;
  align-items: center;
}

.btn1 {
  background: linear-gradient(96.1deg, #7cb8f7 0%, #2a8bf2 100%);
  box-shadow: 10px 6px 25px rgba(42, 139, 242, 0.15),
  4px 4px 25px rgba(42, 139, 242, 0.05), 6px 6px 25px rgba(42, 139, 242, 0.15);
}

.btn2 {
  background: linear-gradient(96.1deg, #ff648b 0%, #ff3366 100%);
  box-shadow: 10px 6px 25px rgba(198, 27, 74, 0.15),
  4px 4px 25px rgba(198, 27, 74, 0.05), 6px 6px 25px rgba(198, 27, 74, 0.1);
}

.btn3 {
  background: linear-gradient(96.1deg, #868ea2 0%, #707c97 100%);
  box-shadow: 10px 6px 25px rgba(112, 124, 151, 0.1),
  4px 4px 25px rgba(112, 124, 151, 0.1), 6px 6px 25px rgba(112, 124, 151, 0.1);
}

.invalid-feedback, .error {
  color: #ff3366;
  font-size: 12px;
  margin: 0;
}


.invalid-feedback, .error {
  color: #ff3366;
  font-size: 12px;
  margin: 0;
}
