<app-left-menu></app-left-menu>
<div class='content'>

	<div class='back' (click)="goBack()">

	</div>

	<div class='main'>

		<div class='title'>
			Create meetup
		</div>

		<form class="form" (ngSubmit)="f.form.valid && !validDates() && submit()" #f="ngForm">
			<div class='form_line'><span>Title:</span><input type="text" name="title" placeholder="title"
					#title="ngModel" [(ngModel)]="this.meetup_title" required autocomplete="off" />
			</div>
			<div *ngIf="f.submitted && title.invalid" class="invalid-feedback">
				<div *ngIf="title.errors.required">Title is required</div>
			</div>
			<div class='form_line'><span>Location:</span><input type="text" name="location" #location="ngModel"
					[(ngModel)]="this.meetup_location" placeholder="location" required /></div>
			<div *ngIf="f.submitted && location.invalid" class="invalid-feedback">
				<div *ngIf="location.errors.required">Location is required</div>
			</div>
			<div class='form_line'><span>Start date:</span><input type="date" name="start_date" placeholder="start_date"
					#start_date="ngModel" [(ngModel)]="this.meetup_start_date" required /></div>
			<div *ngIf="f.submitted && start_date.invalid" class="invalid-feedback">
				<div *ngIf="start_date.errors.required">Valid start date is required</div>
			</div>
			<div *ngIf="f.submitted && start_date.valid" class="invalid-feedback">
				<div *ngIf="validDates() > 0">{{dateMessage()}}</div>
			</div>

			<div class='form_line'><span>Start time:</span><input type="time" name="start_time" placeholder="start_time"
					#start_time="ngModel" [(ngModel)]="this.meetup_start_time" required /></div>
			<div *ngIf="f.submitted && start_time.invalid" class="invalid-feedback">
				<div *ngIf="start_time.errors.required">Valid start time is required</div>
			</div>
			<div class='form_line'><span>End date:</span><input type="date" name="end_date" placeholder="end_date"
					#end_date="ngModel" [(ngModel)]="this.meetup_end_date" required /></div>

			<div *ngIf="f.submitted && end_date.invalid" class="invalid-feedback">
				<div *ngIf="end_date.errors.required">Valid end date is required</div>
			</div>

			<div class='form_line'><span>End time:</span><input type="time" name="end_time" placeholder="end_time"
					#end_time="ngModel" [(ngModel)]="this.meetup_end_time" required /></div>
			<div *ngIf="f.submitted && end_time.invalid" class="invalid-feedback">
				<div *ngIf="end_time.errors.required">Valid end time is required</div>
			</div>
			<div class='form_line'><span>Maximum members:</span><input type="number" name="maxMembers" value="20"
					#maxMembers="ngModel" [(ngModel)]="this.meetup_max_atendees" step="1" min="1" required /></div>
			<div *ngIf="f.submitted && maxMembers.invalid" class="invalid-feedback">
				<div *ngIf="maxMembers.errors.required">Maximum members is required</div>
			</div>
			<div class='form_line'><span>Language:</span><select name="language" [(ngModel)]="this.selectedLanguage">
					<option *ngFor="let language of this.languages" name="language" value="{{language}}">
						{{language | lowercase}}
					</option>
				</select></div>
			<div class='form_line'>
				<span>Topics:</span>
				<div class='topics_list'>
					<app-toggle-button *ngFor="let topic of this.topics" name="topics" id='{{topic.topicId}}'
						text='{{topic.name}}' (toggled)="topicToggled($event)"></app-toggle-button>
				</div>
			</div>
			<div class='form_line'>
				<span>Description:</span>
				<textarea placeholder="Description" cols="30" rows="8" name="description"
					[(ngModel)]="this.meetup_description" autocomplete="off"></textarea>
			</div>

			<button class="button btn1" (click)="submit($event)">Enter</button>
			<!--&lt;!&ndash;-->
			<!--<div class='extra'>-->
				<!--<app-button text='Create meetup' (onClick)="submit($event)" fontSize='24' type='1'></app-button>-->
			<!--</div>-->
		<!--&ndash;&gt;-->
		</form>
	</div>
</div>
