<app-left-menu></app-left-menu>
<div class='content'>
  <p class='title'>Blog</p>

  <div class="header">
    <div class="filter">
      <p>Filter by:</p>
      <p class="filter-link" (click)="filterBy($event, 0)">subscriptions</p>
      <p>|</p>
      <p class="filter-link" (click)="filterBy($event, 1)">all</p>
      <p>|</p>
      <p class="filter-link" (click)="filterBy($event, 2)">my posts</p>
    </div>

    <div class="create-new">
      <p [routerLink]="['create']">New post</p>
    </div>
  </div>

<!--  <div class='search_div'>-->
<!--    <div class='search_icon'></div>-->
<!--    <input type="text" name="search" placeholder="Search" />-->
<!--  </div>-->

  <div class="main" infinite-scroll [infiniteScrollDistance]="scrollDistance" (scrolled)='this.onScrollDown()'>
    <div class='posts_column'>
      <div *ngFor="let post_item of this.postsList;let i = index">

        <app-blog-list-item
          [blog_list_item]='post_item'>
<!--                              [author]='post_item.author'-->
<!--                              [authorPhoto]="post_item.authorPhoto"-->
<!--                              [title]='post_item.title'-->
<!--                              [content]='post_item.content'-->
<!--                              [uid]='post_item.id'-->
<!--                              [date]='post_item.date'>-->

        </app-blog-list-item>
      </div>
    </div>
  </div>


</div>
