<div class='dialog'>
  <form *ngIf="sucsessful && !tokenExpired">
    <p clall="title">Successful!</p>
    <a class='link' routerLink='/login'>Sign In</a>
  </form>
  <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" [mustMatch]="['password', 'confirmPassword']"
        novalidate
        *ngIf="!sucsessful && !tokenExpired">
    <p class='title'>Change password</p>
    <p *ngIf="error" class='error'>{{error}}</p>

    <input class="form-control" type="password" name="password" placeholder="password" [(ngModel)]="newPassword"
           #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6"/>
    <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
      <div *ngIf="password.errors.required">Password is required</div>
      <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
    </div>

    <input class="form-control" type="password" name="confirmPassword" placeholder="repeat password"
           [(ngModel)]="confirmedPassword" #confirmPassword="ngModel"
           [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }" required/>
    <div *ngIf="f.submitted && confirmPassword.invalid" class="invalid-feedback">
      <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
      <div *ngIf="confirmPassword.errors.mustMatch">Passwords must match</div>
    </div>

    <button class="button btn1">Change</button>
  </form>
  <form *ngIf="tokenExpired">
    <p clall="title">Something went wrong!</p>
    <a class='link' routerLink='/'>Back to home</a>
  </form>
</div>

<div *ngIf="loading">
  <div style="position:fixed; left: 0; right: 0; margin:0 auto;">
    <mat-spinner style="margin:0 auto;" diameter=50 color="accent"></mat-spinner>
  </div>
</div>
