<div>

	<div id='main'>
		<div class="header_row">

			<app-button text="Sign in" fontSize='20' href="/login" type="3"></app-button>
			<app-button text="Sign up" fontSize='20' href="/registration" type="3"></app-button>

      <a id='brand_link'>Meetuply</a>
		</div>
		<div id='mainLabel'>
      Welcome to Meetuply, where you can discrover a world of interesting meetings
      and learn or teach your favourite languages<br><br>
      Start by finding a speaker or become one
    </div>
		<div class="main_row">
			<app-button text="Find a speaker" fontSize='25' type="2" href="/login"></app-button>

			<p>OR</p>
			<app-button text="Become a speaker" fontSize='25' type="1" href="/registration"></app-button>
		</div>



	</div>
	<div id='landing_content'>
		some info here

	</div>

</div>
