<app-left-menu></app-left-menu>
<div class='content'>

    <div class="title">Welcome, {{this.userService.currentUser.firstName}}!</div>

    <div class='dashboard'>

      <div *ngIf="lastNotifications.length > 0" class='section-one'>
        <span class="section-title">Last Notifications</span>
        <div class="last-notifications">

        </div>
      </div>

      <div *ngIf="userMeetups.length > 0" class='about'>
        My Meetups <span class="view-all-link" (click)="changeViewAllUser($event)">
      view all</span>
      </div>
      <div class='future-meetups'>
        <div *ngFor="let meetup of (viewAllUser ?
              (userMeetups) : (userMeetups | slice:0:1))">
          <div class="one-future-meetup">
            <app-meetup-list-item
              [meetupListItem]="meetup"
              [isMy]="userService.currentUser.userId == meetup.speakerId"
              [state]="stateService.states[meetup.stateId]"
              [showAuthorInfo]=false>
            </app-meetup-list-item>
          </div>
        </div>
      </div>

      <div *ngIf="soonMeetups.length > 0" class='about'>
        Coming soon <span class="view-all-link" (click)="changeViewAllSoon($event)">
      view all</span>
      </div>

      <div class='future-meetups'>
        <div *ngFor="let meetup of (viewAllSoon ?
              (soonMeetups) : (soonMeetups | slice:0:1))">
          <div class="one-future-meetup">
            <app-meetup-list-item
              [meetupListItem]="meetup"
              [isMy]="userService.currentUser.userId == meetup.speakerId"
              [state]="stateService.states[meetup.stateId]"
              [showAuthorInfo]=false>
            </app-meetup-list-item>
          </div>
        </div>
      </div>


      <div class="about">
        New Articles <span class="view-all-link" routerLink="/blog">view all</span>
        <div class="new-articles">
        </div>
      <div class='section-one'>
          <div class="message" *ngIf="blogPosts.length==0">
            It seems there are no posts here.
            <a routerLink="/speakers">Follow some speakers</a>
             to see more articles at your feed!
          </div>
          <div class="blogposts" *ngIf="blogPosts.length>0">
            <div *ngFor="let post_item of this.blogPosts;let i = index">
              <app-blog-list-item [blog_list_item]='post_item'></app-blog-list-item>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

