.content {
  margin-left: 17%;
  margin-right: 17%;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.content {
  margin-top: 10px;
}

.title{
  margin-top: 20px;
  font-weight: bold;
  font-size: 2em;
  font-style: italic;
  width: 100%;
}

.dashboard{
  margin-top: 20px;
}

.section-title{
  font-size: 2em;
  display: flex;
  flex-direction: row;
}

.right-col{
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.view-all-link{
  color: blue;
  font-size: 17px;
  font-style: italic;
  cursor: pointer;
  margin: 8px;
}

.view-all-link:hover{
  text-decoration: underline;
}

.section{
  margin-top: 50px;
  margin-bottom: 15px
}

.speakers{
  display: flex;
  flex-direction: row;
}

.speaker_item{
  margin: 12px;
  padding: 15px;

  display: flex;
  flex-direction: column;

  max-width: 300px;
  max-height: 200px;
  box-shadow: 10px 6px 25px rgba(112, 124, 151, 0.1),
  4px 4px 25px rgba(112, 124, 151, 0.1), 6px 6px 25px rgba(112, 124, 151, 0.1);
}

.profile {
  display: flex;
  flex-direction: column;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.avatar img {
  max-width: 60px;
  border-radius: 50%;
}

.name {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.name a {
  text-decoration: none;
  color: black;
}
