<app-left-menu></app-left-menu>
<div class='content'>

	<div class='main'>
    <div class='back' (click)="goBack()">

  </div>
    <div class = 'post-title'>
      <h1>{{this.blogpost.blogPostTitle}}</h1>
    </div>


		<div class='author-container'>
      <div class='author' [routerLink]="['/speakers/',this.authorId]">
        <div class='avatar'>
          <img *ngIf="authorPhoto" src={{this.authorPhoto}}>
          <img *ngIf="!authorPhoto" src="assets/img/download.png">
        </div>

        <div class='info'>
          <div class='name'>
            {{this.author}}
          </div>
        </div>
      </div>
		</div>

		<div class='post-content'>
      <p [innerHTML]="this.blogpost.blogPostContent"></p>
		</div>

    <div class="comments">
      <div class="comments-header">
        <h2>Comments</h2>
<!--        <a class="view-all-link" href="">view all</a>-->
      </div>

      <div class="new-comment-container">
        <div class="new-comment">
          <div class="author">
            <div class='avatar'>
              <img *ngIf="authorPhoto" src={{this.authorPhoto}}>
              <img *ngIf="!authorPhoto" src="assets/img/download.png">
            </div>
          </div>

          <div class="form-container">
            <form class="comment-text">
                <textarea placeholder="You can leave your comment here" rows="4" name="comment" [(ngModel)]="this.new_comment" required autocomplete="off"></textarea>


              <div class="button-container">
                <app-button [text]="'>'" (onClick)="submitComment($event)" type='4'></app-button>
              </div>
            </form>
          </div>


        </div>
      </div>

      <div class="comments-container" infinite-scroll [infiniteScrollDistance]="scrollDistance" (scrolled)='this.onScrollDown()'>
        <div class='comments_column'>
          <div *ngFor="let comment_item of this.commentsList;let i = index">

            <app-blog-comment-item
              [blog_comment_item]='comment_item'>
<!--              [author]='comment_item.author'-->
<!--              [authorPhoto]="comment_item.authorPhoto"-->
<!--              [content]='comment_item.content'-->
<!--              [uid]='comment_item.id'-->
<!--              [date]='comment_item.date'>-->

            </app-blog-comment-item>
          </div>
        </div>
      </div>
    </div>

	</div>
</div>
