<app-left-menu></app-left-menu>
<div class='content'>

	<div class='main'>
    <div class='back' (click)="goBack()">

  </div>
    <div class = 'post_title'>
      {{this.post_title}}
    </div>


		<div class='author'>
			<div class='avatar'>
				<img src="assets/img/download.png">
			</div>

			<div class='other'>
				<div class='info'>
					<div class='name'>
						{{this.name + " " + this.surname}}
					</div>
				</div>
			</div>
		</div>

		<div class='post_content'>
			{{this.post_content}}
		</div>

    <div class="comments">

    </div>

	</div>
</div>
