<app-left-menu></app-left-menu>
<div class='content'>

	<div class='main'>
    <div class='back' (click)="goBack()">

  </div>
    <div class = 'post-title'>
      <h1>{{this.post_title}}</h1>
    </div>


		<div class='author-container'>
      <div class="author">
        <div class='avatar'>
          <img src="assets/img/download.png">
        </div>

        <div class='info'>
          <div class='name'>
            {{this.name + " " + this.surname}}
          </div>
        </div>
      </div>
		</div>

		<div class='post-content'>
			{{this.post_content}}
		</div>

    <div class="comments">
      <div class="comments-header">
        <h2>Comments</h2>
        <a class="view-all-link" href="">view all</a>
      </div>

      <div class="comments-container">

      </div>

      <div class="new-comment-container">
        <div class="new-comment">
          <div class="author">
            <div class='avatar'>
              <img src="assets/img/download.png">
            </div>
          </div>

          <div class="form-container">
            <form class="comment-text">
              <textarea placeholder="You can leave your comment here"></textarea>
            </form>
          </div>

          <app-button [text]="'>'" (onClick)="{}" type='4'></app-button>
        </div>
      </div>
    </div>

	</div>
</div>
