.content {
  margin-left: 17%;
  margin-right: 17%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.post-title *{
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  margin-top: 20px;
  overflow: hidden;
  white-space: initial;
}

.post-time{
  color: #7f7f7f;
  font-size: 1em;
}

.author-container {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
  align-items: center;
}

.author-container .author{
  cursor: pointer;
}

.avatar img {
  max-width: 60px;
  max-width: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.avatar {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.avatar span {
  font-weight: bold;
  margin: 5px;
}

.info {
  font-weight: bold;
  font-size: 1em;
}

.info * {
  margin: 3px;
  text-align: center;
}

.main {
  width: 100%;
}

.post-content{
  text-align: left;
  font-size: 1.2em;
}

.back {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-image: url(/assets/icons/arrow-left.png);
  cursor: pointer;
}

.comments{
  margin-top: 40px;
}

.comments-header{
  text-align: left;
  flex-direction: row;
  display: flex;
  vertical-align: baseline;
}

.view-all-link{
  text-decoration: none;
  font-style: italic;
  margin: 1rem 1rem;
}

.new-comment-container {
  box-shadow: 10px 6px 25px rgba(112, 124, 151, 0.1),
  4px 4px 25px rgba(112, 124, 151, 0.1), 6px 6px 25px rgba(112, 124, 151, 0.1);
  margin-top: 20px;
  padding: 20px 10px 20px 20px;

  max-height: 200px;
  /*display: flex;*/
  /*flex-direction: row;*/
  /*width: 100%;*/
  display: block;
}

.new-comment{
  display: flex;
  flex-direction: row;
}

.new-comment .author {
  /*margin: 5px;*/
  display: flex;
}

.new-comment .author .avatar {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-comment .avatar img {
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
}

textarea {
  margin-left: 15px;
  resize: none;
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  margin-right: 10px;
}

.form-container {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*flex-shrink: 100;*/
  /*display: block;*/
  margin: 2px;
  width: 65%;
  height: 100%;
}

#form-error{
  color: #cc0000;
  display: none;
}

.form-container .comment-text{
  display: flex;
  flex-direction: row;
  /*width:100%;*/
}

.form-container .comment-text textarea{
  display: block;
  width:100%;
}

.button-container{
  display: flex;
}


.icon {
  height: 50px;
  width: 50px;
}

.btn1 {
  background: linear-gradient(96.1deg, #7cb8f7 0%, #2a8bf2 100%);
  box-shadow: 10px 6px 25px rgba(42, 139, 242, 0.15),
  4px 4px 25px rgba(42, 139, 242, 0.05), 6px 6px 25px rgba(42, 139, 242, 0.15);
}

.btn2 {
  background: linear-gradient(96.1deg, #ff648b 0%, #ff3366 100%);
  box-shadow: 10px 6px 25px rgba(198, 27, 74, 0.15),
  4px 4px 25px rgba(198, 27, 74, 0.05), 6px 6px 25px rgba(198, 27, 74, 0.1);
}

.btn3 {
  background: linear-gradient(96.1deg, #868ea2 0%, #707c97 100%);
  box-shadow: 10px 6px 25px rgba(112, 124, 151, 0.1),
  4px 4px 25px rgba(112, 124, 151, 0.1), 6px 6px 25px rgba(112, 124, 151, 0.1);
}


.button {
  padding: 14px 5px;
  text-align: center;
  text-decoration: none;
  margin-right: 5px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  border: transparent;
  border-radius: 6px;
  align-items: center;
}

.text-comm {
  width: 200px;
}
