.achievement-container {
  min-width: 100px;
  text-align: center;
  border-color: #000;
}

.achievement-title {
  font-weight: bold;
  font-size: 15px;
  height: 30px;
  text-align: center;
}

.achievement-wrapper{
  margin: 10px;
  max-width: 100px;
}

.achievement-title{
  text-align: center;
  width: 100px;
}

.achievement-description{
  text-align: center;
  font-size: 12px;
  word-break: break-all;
  word-wrap: break-word;
  max-width: 100px;
}

.achievement-icon img {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  margin-top: 5px;
}
