<div class="achievement-container">
  <div class="achievement-wrapper">
    <div class="achievement-title">
      <span>{{this.title}}</span>
    </div>
    <div  [ngClass]="this.showDescription ? 'achievement-icon' : 'achievement-icon tooltip'" (click)="addDescription()">
      <span *ngIf="!this.showDescription" class="tooltiptext">description</span>
      <img src='{{this.icon}}'/>
    </div>
    <div class="achievement-description" *ngIf="showDescription">
      <span> {{this.description}}
      </span>
    </div>
  </div>
</div>
