<app-left-menu></app-left-menu>
<div class='content'>
	<p class='title'>Speakers</p>

	<div class='search_div'>
		<div class='search_icon'></div>
		<input type="text" name="search" placeholder="search" />
	</div>

	<div class="main" infinite-scroll [infiniteScrollDistance]="scrollDistance" (scrolled)='this.onScrollDown()'>

		<div class='left_column'>


			<div *ngFor="let speaker_item of this.speaker_list;let i = index">

				<app-speaker-list-item *ngIf="isOdd(i)" [speakerListItem]="speaker_item">
				</app-speaker-list-item>
			</div>
		</div>
		<div class='right_column'>
			<div *ngFor="let speaker_item of this.speaker_list;let i = index">
				<app-speaker-list-item *ngIf="!isOdd(i)" [speakerListItem]="speaker_item">
				</app-speaker-list-item>
			</div>
		</div>
	</div>


</div>
