<app-left-menu></app-left-menu>
<div class='content'>
  <div class='back' (click)="goBack()"></div>
    <p class='title'>Report</p>

    <div *ngIf="this.banReasonId">
      <div class="add">
        <input #banDescription placeholder="description"/>
        <app-button type='1' text="Add" fontSize="15" routerLink="/speakers"
                  (click)="addBanDescription(banDescription.value); banDescription.value=''"></app-button>
      </div>
    </div>

    <div *ngIf="!this.banReasonId">
      <p>Choose reason</p>
      <div class="item"*ngFor="let banReason of banReasons">
      <div class="main">
        <div class="profile">
          <div>
          {{banReason.name}}
          </div>
          <app-button type='1' text="Choose" class="delete" fontSize="15"
                      (click)="addBanReason(banReason)"></app-button>
        </div>
      </div>
    </div>
  </div>
</div>
