.content {
  margin-left: 17%;
  margin-right: 17%;
}

.search_icon {
  background-image: url(/assets/icons/search.png);
  background-size: 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.arrow_icon {
  background-size: 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.arrow_icon.up {
  background-image: url(/assets/icons/chevron-top.png);
}

.arrow_icon.down {
  background-image: url(/assets/icons/chevron-bottom.png);
}

.title {
  font-size: 24px;
  font-weight: bolder;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 5px;
}

.search_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px;

  /*border: 5px solid
	*/
  box-shadow: 10px 6px 25px rgba(112, 124, 151, 0.1),
  4px 4px 25px rgba(112, 124, 151, 0.1), 6px 6px 25px rgba(112, 124, 151, 0.1);
}

.search_div * {
  margin: 10px;
}

.search_div input {
  width: 100%;
  font-size: 16px;
  border: 0px;
}

.search_div input:focus {
  outline: 0;
}
.main {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main * {
  width: 95%;
}

.left_column {
  margin-right: 5px;
}

.right_column {
  margin-left: 5px;
}

.speaker_item {
  box-shadow: 10px 6px 25px rgba(112, 124, 151, 0.1),
  4px 4px 25px rgba(112, 124, 151, 0.1), 6px 6px 25px rgba(112, 124, 151, 0.1);
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
}

.banReasons {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.banReasons li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.banReasons a {
  color: #333;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.banReasons li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.back {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-image: url(/assets/icons/arrow-left.png);
  cursor: pointer;
  margin-left: 17%;
  margin-top: 40px;
  margin-bottom: 10px;
}

