table {
  width: 80%;
  border-collapse: collapse;
  margin-left: 10%;
}
tr:nth-of-type(odd) {
  background: #eee;
}
tr{
  border: solid medium;
  font-weight: bold;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}
img{
  width: 40px;
  height: 40px;
}
caption{
  font-size: 35px;
  font-weight: bold;
  margin: 30px;
}
.delete-button{
  width: 40px;
  height: 40px;
  background: firebrick;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  content: "x";
  font-weight: bold;
  font-size: 20px;
  border: none;
}

.delete-button:active{
  background: darkred;
}

.delete-button:hover{
  opacity: 0.9;
}

.delete-button-td{
  text-align: center;
}
