<app-left-menu></app-left-menu>
<div class='back' (click)="goBack()"></div>
<div class="container">
  <div class="show-add-form">
    <app-button  text="add" (onClick)="changeShowForm($event)"></app-button>
  </div>
  <div class="create-form">
  <app-achievement-create-page *ngIf="this.showForm"></app-achievement-create-page>
  </div>
<table class="js-serial">
  <caption>Achievements list</caption>
  <thead>
  <tr>
    <th>#</th>
    <th scope="col">Title</th>
    <th scope="col">Description</th>
    <th scope="col">Icon</th>
    <th scope="col">Followers</th>
    <th scope="col">Posts</th>
    <th scope="col">Rating</th>
    <th scope="col">Meetups</th>
    <th scope="col">Topics</th>
    <!--<th scope="col">Edit</th>-->
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let achievement of this.achievements; let id=index">
    <td>{{id + 1}}</td>
    <td>{{achievement.title}}</td>
    <td>{{achievement.description}}</td>
    <td><img *ngIf=achievement.icon src="{{achievement.icon}}"></td>
    <td>{{achievement.followers}}</td>
    <td>{{achievement.posts}}</td>
    <td>{{achievement.rating}}</td>
    <td>{{achievement.meetups}}</td>
    <!--<td></td>-->
    <td></td>
    <td class="delete-button-td"><button class="delete-button" (click)="achievementToggled(achievement.achievementId)"
                name="{{achievement.name}}"  id='{{achievement.uid}}'>x</button></td>
  </tr>
  </tbody>
</table>
</div>
