<app-left-menu></app-left-menu>
<div class='content'>
  <div class='main'>
    <div class='back' (click)="goBack()"></div>
    <p class='title'>Update topic name</p>

    <div *ngIf="topic">
      <div class="add">
        <input [(ngModel)]="topic.name" placeholder="name"/>
        <app-button type='1' text="Save" fontSize="15"
                    (click)="save()"></app-button>
        <app-button type='2' text="Delete" class="delete" fontSize="15"
                    (click)="delete(topic)"></app-button>
      </div>
      <h2>{{topic.name}}</h2>
    </div>
  </div>
</div>
