<div class='item'>
  <div class = 'main'>
    <div class='author' [routerLink]="['/speakers/',blogCommentItem.authorId]">
      <div class='avatar'>
        <img *ngIf="blogCommentItem.authorPhoto" src={{this.blogCommentItem.authorPhoto}}>
        <img *ngIf="!blogCommentItem.authorPhoto" src="assets/img/download.png">
      </div>
        <div class='info'>
          <div class='name'>
            {{this.blogCommentItem.author}}
          </div>
        </div>
    </div>

    <div class='comment'>
      <div class='comment-content'>
        <span>{{this.blogCommentItem.content}}</span>
      </div>
      <div class="comment-time">
        {{this.blogCommentItem.date.toString().replace("T"," ")}}
      </div>
    </div>
    <button *ngIf="isAdmin()" class="button btn2" (click)="deleteComment()"><img class="icon" src="assets/icons/garbage.svg"></button>

  </div>
</div>
