<div class='item'>
  <div class = 'main'>
    <div class='author' [routerLink]="['/speakers/',blogCommentItem.authorId]">
      <div class='avatar'>
        <img *ngIf="blogCommentItem.authorPhoto" src={{this.blog_comment_item.authorPhoto}}>
        <img *ngIf="!blogCommentItem.authorPhoto" src="assets/img/download.png">
      </div>
        <div class='info'>
          <div class='name'>
            {{this.blogCommentItem.author}}
          </div>
        </div>
    </div>

    <div class='comment'>
      <div class='comment-content'>
        <span>{{this.blogCommentItem.content}}</span>
      </div>
      <div class="comment-time">
        {{this.blogCommentItem.date.toString().replace("T"," ")}}
      </div>
    </div>
    <app-button [text]="'X'" fontSize='50' *ngIf="isAdmin()" (onClick)="deleteComment()" type='2'></app-button>
  </div>
</div>
