.item {
  margin-top: 20px;
  padding: 20px 10px 20px 20px;

  display: flex;

  max-height: 200px;
  box-shadow: 10px 6px 25px rgba(112, 124, 151, 0.1),
  4px 4px 25px rgba(112, 124, 151, 0.1), 6px 6px 25px rgba(112, 124, 151, 0.1);
}

.item .main {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.author {
  margin: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100px;
}

.author .info {
  display: flex;
  flex-direction: column;
  width: 100px;
  text-align: center;
}

.author .name {
  font-size: 1em;
  font-weight: bold;
  width: 100px;
  text-align: center;
}

.author .avatar {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

.comment{
  display: block;
  text-align: left;
  margin: 10px 10px 10px 20px;
  overflow: auto;
}

.comment-content{
  font-size: 1em;
  margin-top: 5px;
  text-overflow: fade;
  float: none;
  overflow: hidden;
  white-space: initial;
}

.comment-time{
  margin-top: 10px;
  font-size: 0.8em;
  color: #7f7f7f;
}


.icon {
  height: 50px;
  width: 50px;
}

.btn1 {
  background: linear-gradient(96.1deg, #7cb8f7 0%, #2a8bf2 100%);
  box-shadow: 10px 6px 25px rgba(42, 139, 242, 0.15),
  4px 4px 25px rgba(42, 139, 242, 0.05), 6px 6px 25px rgba(42, 139, 242, 0.15);
}

.btn2 {
  background: linear-gradient(96.1deg, #ff648b 0%, #ff3366 100%);
  box-shadow: 10px 6px 25px rgba(198, 27, 74, 0.15),
  4px 4px 25px rgba(198, 27, 74, 0.05), 6px 6px 25px rgba(198, 27, 74, 0.1);
}

.btn3 {
  background: linear-gradient(96.1deg, #868ea2 0%, #707c97 100%);
  box-shadow: 10px 6px 25px rgba(112, 124, 151, 0.1),
  4px 4px 25px rgba(112, 124, 151, 0.1), 6px 6px 25px rgba(112, 124, 151, 0.1);
}


.button {
  padding: 14px 5px;
  text-align: center;
  text-decoration: none;
  margin-right: 5px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  border: transparent;
  border-radius: 6px;
  align-items: center;
}
