<app-left-menu></app-left-menu>
<div class='container'>
  <div class='back' (click)="goBack()"></div>

  <div class="main-title">
    <span class="caption">User's reports</span>
  </div>
    <table class="js-serial">
      <thead>
      <tr>
        <th>#</th>
        <th scope="col">Author</th>
        <th scope="col">Reason</th>
        <th scope="col">Description</th>
        <th scope="col">Date</th>
      </tr>
      </thead>
     <tbody>
     <tr *ngFor="let banForView of bans; let id=index">
        <td>{{id + 1}}</td>
        <td>{{banForView.author.firstName}} {{banForView.author.lastName}}</td>
        <td>{{banForView.banReason.name}}</td>
        <td>{{banForView.description}}</td>
        <td>{{banForView.time | date:'dd-MM-y HH:mm'}}</td>
     </tr>
     </tbody>
   </table>
</div>
