.container {
  margin-left: 17%;
  margin-right: 17%;
  padding: 15px;
}

.content * {
  margin: 10px;
}

.page-title{
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
}

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 2px solid #c4c4c4;
  border-radius: 6px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 15px;
}

input[type=number]{
  width: 30%;
  padding: 12px;
  border: 2px solid #c4c4c4;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 15px;
}

.back {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-image: url(/assets/icons/arrow-left.png);
  cursor: pointer;
}

.input-title {
  float: left;
  width: 75%;
  margin: 15px;
  font-size: 20px;
  font-weight: bold;
}

.input-title, .input-line{
  margin: 7px 10px;
}

.input-wrapper{
  margin: 15px;
}

.create-button{
  width: 30%;
  float: left;
  margin: 20px 0 60px 15px;
}

.help-block{
  margin-top: 50px;
  color: red;
}

.submit{
  width: 100px;
  height: 30px;
}

app-toggle-button{
  margin-top: 10px;
  margin-right: 5px;
}

select option{
  font-size: 16px;
  margin: 5px;
}

.topics{
  max-height: 400px;
  overflow: auto;
  max-width: 600px;
}
