.container {
  margin-left: 17%;
  margin-right: 17%;
  padding: 15px;
}

.content * {
  margin: 10px;
}

.page-title{
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
}

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 2px solid #c4c4c4;
  border-radius: 6px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 15px;
}

input[type=number]{
  width: 30%;
  padding: 12px;
  border: 2px solid #c4c4c4;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 15px;
}

.back {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-image: url(/assets/icons/arrow-left.png);
  cursor: pointer;
}

.input-title {
  float: left;
  width: 75%;
  margin: 15px;
  font-size: 20px;
  font-weight: bold;
}

.input-title, .input-line{
  margin: 7px 10px;
}

.input-wrapper{
  margin: 15px;
}

.create-button{
  width: 30%;
  float: left;
  margin: 20px 0 60px 15px;
}

.help-block{
  margin-top: 50px;
  color: red;
}

.submit{
  width: 100px;
  height: 30px;
}

app-toggle-button{
  margin-top: 10px;
  margin-right: 5px;
}

select option{
  font-size: 16px;
  margin: 5px;
}

.topics{
  max-height: 400px;
  overflow: auto;
  max-width: 600px;
}


button {
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  color: white;

  font-size: 20px;
  border: transparent;
  border-radius: 6px;
  align-items: center;
  outline:0;
  background: linear-gradient(96.1deg, #7cb8f7 0%, #2a8bf2 100%);
  box-shadow: 10px 6px 25px rgba(42, 139, 242, 0.15),
  4px 4px 25px rgba(42, 139, 242, 0.05), 6px 6px 25px rgba(42, 139, 242, 0.15);
}

button a {
  color: white;
  text-decoration: none;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */

}

button[disabled]{
  background: #707c97;
}

button[enabled]:hover{
  opacity: 0.8;
}

button:active{
  background: #086edb;
  opacity: 1
}
