<app-left-menu></app-left-menu>
<div class='content'>



	<div class='top'>
		<div class='title'>Chats</div>
		<app-button fontSize='20' (click)='write_message()' type='1' text='Create new chat'></app-button>
	</div>


	<div class='subs_list' *ngIf="show">
		<div class='select_sub'>Select new recipient:</div>
		<app-chat-sub-list-item *ngFor="let sub of followings" [user]="sub">
		</app-chat-sub-list-item>
	</div>

	<div class='thumbnails'>

		<div *ngFor="let room_thumbnail of this.rooms">
			<app-chats-list-item class='thumb' *ngIf="room_thumbnail.message" [user]="room_thumbnail.user"
				[message]="room_thumbnail.message" [roomId]='room_thumbnail.roomId'></app-chats-list-item>

		</div>

	</div>


</div>