<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Successfully registered</title>
      <style>
        span {color: blue;}
      </style>
   </head>
    
   <body>
    
      <!-- Include _menu.html -->
      <div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">
 
  <a th:href="@{/}">Home</a>
 
     | &nbsp;
 
   <a th:href="@{/members}">Members</a>
 
     | &nbsp;
 
   <a th:href="@{/register}">Register</a>
   
 
	</div>
       
      <h2>You have successfully registered!</h2>
       
      <div th:if="${flashUser != null}">
         <ul>
            <li>Email: <span th:utext="${flashUser.email}">..</span></li>
         </ul>
      </div>
   </body>
</html>